/* Navigation */

nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 5rem;
    position: fixed;
    top: 0px;
    background-color: #2d2f31;
}

nav ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 100%;
}

nav ul li .link-container {
    width: 4rem;
    text-align: center;
    padding: 1.1rem 5px;
    border-radius: 2rem;
}

nav ul li .link-container:hover {
    background-color: #28292a;
}

nav ul li .link-container .material-symbols-outlined {
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

nav ul li .link-container span {
    font-size: 0.8rem;
    display: block;
    color: #baddf4;
}


/* FONTS HEADER SECTION */

/* Header */
.buttons-jumbotron {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 93%;
    height: 500px;
    margin: 7px 0 7px 6.3%;
    padding: 2rem 3rem;
    background-image: url('https://lh3.googleusercontent.com/EhHSqOHkNmcLEZigJr37o1cA1W9JS--miJxKacOFAQZAYVEH-TtViAtiyGzfyPjmceyCSUp43W84R7liQx4std_QkbOHNTLCQHgjzxIB_LtWMnCd6fM=w2400-rj');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.buttons-jumbotron h2 {
    font-size: 5rem;
}

.buttons-jumbotron p {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 1px;
}


/* MAIN */
main {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding: 7rem 9rem 1rem 16rem;
}

main p {
    line-height: 2.3;
}
main ul {
    width: 100%;
    height: 8rem;
    line-height: 2.5;
    margin-bottom: 5rem;
}
main ul li::before {
    background-image: url('https://m3.material.io/static/assets/list-bullet-dark.svg');
    content: "";
    display: inline-block;
    top: 8px;
    width: 8px;
    height: 8px;
    margin-right: 0.7rem;
    transform: rotate(calc(var(--rotation) * 36deg));
}


main section.use-case .buttons-image{
    width: 100%;
    height: 70%;
    border-radius: 20px;
}
main .img-description {
    margin-top: 1.2rem;
    margin-left: 1rem;
    line-height: 1.7;
    font-size: 0.9rem;
}


main section.context .brief-history {
    margin: 0 0 5rem 0;
    line-height: 2.3;
}
main h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
}


main h4 {
    font-size: 1.7rem;
    line-height: 1.7;
}

main section.font-types h4 {
    margin-bottom: 5rem;
}
main section.font-types .types-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    justify-content: space-between;
}
main section.font-types .types-container .column .list {
    font-size: 0.94rem;
}
main section.font-types .types-container .column h5 {
    font-size: 1.4rem;
    margin-bottom: 1.7rem;
}
main section.font-types .types-container .column img{
    width: 100%;
    border-radius: 20px;
    height: 40%;
    margin-top: 3.5rem;
}
main section.font-types .types-container .column-one{
    font-family: 'Source Code Pro', monospace;
}
main section.font-types .types-container .column-two{
    font-family: sans-serif , monospace;
}
main section.font-types .types-container .column-three{
    font-family: 'Poppins', monospace;
}


main section.text-styles {
    margin: 4rem 0;
}
main section.text-styles h4 {
    margin: 5rem 0 1rem 0;
}
main section.text-styles p {
    margin: 0rem 0 2rem 0;
}
main section.text-styles .table-wrapper {
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #444746;
}
main section.text-styles table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    font-weight: lighter;
    font-size: 0.9rem;
}
main section.text-styles table thead th {
    background-color: #28292a;
    color: #b8bbb9;
}
main section.text-styles table tbody {
    color: #e3e3e3;
}
main section.text-styles table th, td {
    padding: 15px;
    border: 0.5px solid #444746;
}


main section.examples .columns-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 5rem;
}
main section.examples .column-two {
    width: 58%;
}
main section.examples .column-one {
    width: 40%;
    margin: 0 7px 1.2rem 0;
}

main section.examples .column-two img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

main section.outro-columns .columns-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 3rem;
}
main section.outro-columns .columns-container .column-one, .column-two {
    width: 47%;
    margin-bottom: 2rem;
}
main section.outro-columns .columns-container .column-three {
    width: 100%;
}
main section.outro-columns .columns-container img {
    width: 100%;
    height: 20rem;
    border-radius: 25px;
}

/* SVG's dividers */

.footer-divider {
    width: 100%;
}

/* Footer */

footer {
    width: 85%;
    margin: 2rem 5rem 9rem 9.3%;
}

footer .main-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2.5rem 0;
}

footer .main-footer .links {
    justify-content: space-evenly;
    height: 10rem;
}

footer .main-footer .description {
    line-height: 1.7;
}

footer .main-footer .description span {
    font-size: 2rem;
}

footer .main-footer .description p {
    font-weight: lighter;
}

footer .main-footer .links {
    display: flex;
    flex-flow: row nowrap;
}

footer .main-footer .links .column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

footer .main-footer .links .column h6 {
    font-size: 0.8rem;
}

footer .main-footer .links .column span {
    display: block;
    color: #a6c5f8;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}

footer .main-footer .links .column span:hover {
    color: #fbfdff;
}

footer .legal-footer a {
    color: #fff;
    margin-right: 3rem;
    font-size: 0.98rem;
}

footer .legal-footer a:not(.page-name):hover {
    text-decoration: underline;
}

footer .legal-footer a:first-child {
    font-size: 1.2rem;
    font-weight: bolder;
}